#env Mongo
MONGO_INITDB_DATABASE=mystore_mongodb
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=Test1234 

# .env Postgres
DB_HOST=0.0.0.0
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Test1234!
POSTGRES_DB=postgres

POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@172.21.0.1:5432/${POSTGRES_DB}

# .env Fastify
# PORT=3232
MONGO_DB_USER=root
MONGO_DB_PASSWORD=Test1234
MONGO_DB_DB=@mongocluster.w5ahfss.mongodb.net

REDIS_HOST=172.21.0.1
REDIS_PORT=6379
REDIS_PASSWORD=root

# .env Express
FRONTEND_URL='http://172.21.0.1:3000'
PORT='3030'
FILE_UPLOAD_URL="https://zjrjkqh4jo5ykjfbml3qoyspwi0bcqgg.lambda-url.us-east-1.on.aws"
STACK="development"

# .env NestJS
NEXT_PUBLIC_API_ENDPOINT=http://172.21.0.1:3030/api
NEXT_PUBLIC_BACKEND_URL=http://172.21.0.1:3030